/* Coloring Styles for pieces */

:root {
	--J-color: #BB86FC;
	--L-color: #3700B3;
	--T-color: #03DAC6;
	--I-color: #CF6679;
	--Z-color: #00AAAA;
	--S-color: #CC00FF;
	--O-color: #FFB347;
}

.J {
	background-color: var(--J-color);
}

.L {
	background-color: var(--L-color);
}

.T {
	background-color: var(--T-color);
}

.I {
	background-color: var(--I-color);
}

.Z {
	background-color: var(--Z-color);
}

.S {
	background-color: var(--S-color);
}

.O {
	background-color: var(--O-color);
}